{% extends 'base.html' %}
{% block content %}
<section class="accordbk">
	<article class="horizontalaccordion">
		<center><h2>Bienvenidos a Waxyay</h2></center>
		<h3>El Sistema Integrado de información del Partido Nacionalista Peruano</h3>
		<ul>
			<li>
				<h3>¿Qué es Waxyay?</h3>
				<div>
					<img src="{{ STATIC_URL  }}images/logo.jpg" alt="" />
					<p>
						<b><font color="red">¿Qué es Waxyay?</font></b>
					</p>
						<font color="black">
							<p align="justify">
								WAXYAY es una herramienta que proporciona información pertinente y oportuna a los dirigentes y militares de la organización para el desarrollo de sus labores políticas. Con este Sistema interactivo usted podrá operar un conjunto de datos de acuerdo al tipo de acceso que tiene, relacionados con los ciudadanos que son afiliados a la organización, así como también realizar los siguientes procesos:
							</p>
							<ul>
								<li>Carnetizacion</li>
								<li>Afiliación</li>
								<li>Inscripción de personas</li>
								<li>Reportes tales como: Cantidad de afiliados, cantidad de personas</li>
							</ul>
							<p>Le agradeceremos nos haga llegar sus sugerencias para seguir corrigiendo y mejorando el sistema.</p>
						</font>
				</div>
			</li>
			<li>
				<h3>Autores</h3>
				<div>
					<p><b>¿Quiénes la desarrollaron?</b></p>
					<p align="justify">Waxyay fue desarrollado por la Oficina Nacional De Informática(ONI) del Partido Nacionalista Peruano bajo la supervisión de <b>Ronald Barrientos</b>, los desarrolladores son:</p>
					<ul>
						<li>Miguel Ángel Cumpa Ascuña - Micky Miseck</li>
						<li>Herald Mathías Olivares Zarsoza</li>
						<li>Leonardo Aquino - Leo Aki</li>
					</ul>
				<p>Waxyay esta desarrollado en Python con el framework django y con base de datos PostgreSql</p>
				</div>
			</li>
		</ul>
	</article>
</section>
{% endblock %}
