{{ affiliateform.media }}
<label>D.N.I.</label>
{{ citizenform.number_document }}
<label>Grupo de votación</label>
{{ citizenform.number_book }}
<label>Codigo región</label>
{{ citizenform.region_code }}
<label>Codigo provincia</label>
{{ citizenform.province_code }}
<label>Codigo distrito</label>
{{ citizenform.district_code }}
<label>Apellido paterno</label>
{{ citizenform.paternal_surname }}
<label>Apellido Materno</label>
{{ citizenform.mother_surname }}
<label>Nombre</label>
{{ citizenform.name }}
<label>fecha de nacimiento</label>
{{ citizenform.birth_date }}
<label>Sexo</label>
{{ citizenform.sex }}
<label>grado de instrucción</label>
{{ citizenform.degree_instruction }}

<label>grado de instrucción</label>
{{ affiliateform.education }}
<label>ocupación</label>
{{ affiliateform.occupation }}
<label>profesión</label>
{{ affiliateform.profession }}
<label>base</label>
{{ affiliateform.base }}
<label>ubigeo</label>
{{ affiliateform.ubigeo_now }}
<label>dirección</label>
{{ affiliateform.address }}
<label>dirección actual</label>
{{ affiliateform.address_home }}
<label>teléfono</label>
{{ affiliateform.phone }}
<label>celular</label>
{{ affiliateform.cellphone }}
<label>email</label>
{{ affiliateform.email }}
<label>otro medio de contacto</label>
{{ affiliateform.another_contact }}
<label>otros estudios</label>
{{ affiliateform.another_study }}
<label>grado de instrucción</label>
{{ affiliateform.another_study }}
<label>declaración jurada</label>
{{ affiliateform.affidavit }}
<label>foto</label>
{{ affiliateform.foto }}
<label>tipo</label>
{{ affiliateform.kind }}
<label>estado</label>
{{ affiliateform.state }}
<label>fecha de afiliación</label>
{{ affiliateform.date_enrollment }}
