{% extends 'base.html' %}
{% block content %}
<form method='POST' action='/compatriota/afiliar/'>
	{% csrf_token %} 
	<div>
		<input type='hidden' id='id_citizen' name='citizen'>
		<label>D.N.I.</label>
		{{ citizenform.number_document }}
	</div>
	<div>
	<label>Grupo de votación</label>
	{{ citizenform.number_book }}
	</div>
	<div>
		<label>Ubigeo</label>
	{{ affiliateform.ubigeo }}
	</div>
	<div>
		<label>Apellido paterno</label>
	{{ citizenform.paternal_surname }}
	</div>
	<div>
	<label>Apellido Materno</label>
	{{ citizenform.mother_surname }}
	</div>
	<div>
	<label>Nombre</label>
	{{ citizenform.name }}
	</div>
	<div>
	<label>fecha de nacimiento</label>
	{{ citizenform.birth_date }}
	</div>
	<div>
		<label>Sexo</label>
	{{ citizenform.sex }}
	</div>
	<div>
	<label>grado de instrucción</label>
	{{ citizenform.degree_instruction }}
	</div>
	<div>
		<label>base</label>
	{{ affiliateform.base }}
	<input type='text' name='txt_base' id='txt_base'>
	<button type='button' name='bt_base' id='bt_base'>
		<span class="ui-button-text">Buscar</span>
	</button>
	</div>
	<div>
	<label>dirección</label>
	{{ affiliateform.address }}
	</div>
	<div>
	<label>dirección actual</label>
	{{ affiliateform.address_home }}
	</div>
	<div>
	<label>teléfono</label>
	{{ affiliateform.phone }}
	</div>
	<div>
	<label>celular</label>
	{{ affiliateform.cellphone }}
	</div>
	<div>
	<label>email</label>
	{{ affiliateform.email }}
	</div>
	<div>
	<label>declaración jurada</label>
	{{ affiliateform.affidavit }}
	</div>
	<div>
		<label>foto</label>
	{{ affiliateform.foto }}
	</div>
	<div>
	<label>tipo</label>
	{{ affiliateform.kind }}
	</div>
	<div>
		<label>estado</label>
	{{ affiliateform.state }}
	</div>
	<div>
		<label>fecha de afiliación</label>
	{{ affiliateform.date_enrollment }}
	</div>
	<div><input type='submit'/></div>
	<div id='dialog-base' title='Base'>
		<iframe id='base_select' src='/base/compatriota/' width='450' height='850' frameborder=0 scrolling=no></iframe>
	</div>
</form>
{% endblock %}
{% block js %}
{{ affiliateform.media }}
{{ citizenform.media }}
{% endblock %}
