<!doctype html>
<html lang="es/PE">
{% load static %}
<head>
	<meta charset="utf-8" />
	{% block css %}
		<link rel="stylesheet" href="{{ STATIC_URL  }}css/print.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ STATIC_URL  }}css/styles.css" type="text/css" media="screen" />
		
		{% if not auth.is_authenticated %}
		<!--<link rel="stylesheet" href="{{ STATIC_URL  }}css/login.css" type="text/css" media="screen" /> -->
		{% endif %}
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        {% endblock %}
        <!--<link rel="shortcut icon" href="{{ STATIC_URL  }}images/favicon.ico" type="image/x-icon">-->
		<title>{% block title %}Waxyay:::Inicio{% endblock %}</title>
		<link href="{{ STATIC_URL  }}images/co.ico" rel="shortcut icon" />

	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]LeoAki-->
</head>
<body>
<div id="wrapper"><!-- #wrapper -->
	
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="">Archivo</a></li>
				<li><a href="">Consultar</a></li>
				<li><a href="">Registrar</a></li>
				<li><a href="">Mantenimiento</a></li>
				<li><a href="">Soporte</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
	
	<header><!-- header -->

	</header><!-- end of header -->
	
	<section id="main"><!-- #main content area -->
			<section id="content"><!-- #content -->
			{% block content %}
			{% endblock %}
						
			</section><!-- end of #content -->

	</section><!-- end of #main content -->
	
		<footer>
		<section id="footer-area">

			<center><a>GANA PERU CON OLLANTA</a></center>
					
		</section><!-- end of footer-area -->
	</footer>
	
</div><!-- #wrapper -->
<!-- Free template created by http://freehtml5templates.com -->
</body>
	{% block js %}
		<script src='{{ STATIC_URL }}js/jquery.js'></script>
    {% endblock %}
    {% block script %}
    {% endblock %}
</html>
